body{
    background-color: rgb(245, 245, 245);
}

.content{
    margin: 50px 50px 40px;
}

.brand{
    color: #ef4f4f;
    font-family: sans-serif;
    font-size: 12px;
}

.password{
    color: rgb(209, 185, 185);
    font-family: sans-serif;
    font-size: 20px;
}
